* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}

.carousel {
	position: relative;
    height: 500px;
    perspective: 1000px;
}

.carousel .carousel-item {
    width: 230px;
    
}

.carousel .carousel-item img {
    max-width: 250px;
}