@font-face {
    src: url("../fonts/ARLRDBD.ttf");
    font-family: "ARLRDBD";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000000;
    font-family: "ARLRDBD";
}

ul {
    width: 100%;
    height: 25px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
hr {
    width: 245px;
}

header {
    margin: 0;
    font-size: 12px;
}
.logo { /* customização da div onde o logo se encontra*/
    margin: 0;
    padding: 0;
	width: 100%;
    height: 90px;
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: #ffffff;
}
.logo svg {
    width: 90px;
    height: 90px;
}
.menu {
	margin: 0;
    padding: 0;
	width: 100%;
    height: 900px;
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: #ffffff;
}
.menu svg {
    height: 20px;
}
.nav-bar {
    margin: 0;
    padding: 0;
	width: 100%;
    height: 25px;
    display: grid;
    background-color: #ffffff;
}
.nav-bar a {
    margin: 0;
    padding: 0;
    display: grid;
}
.nav-bar ul {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-content: center;
}
.nav-bar li {
    width: 25px;
	height: 25px;
    display: grid;
    justify-content: center;
    align-content: center;
}

.abs-pos {
    position: absolute;
    top: 0;
    right: 0;
}
.fix-pos {
    position: fixed;
    top: 0;
    right: 0;
}

#swip { /*primeira section - swip*/
	display: grid;
}
.titulo {
    padding: 15px 50px;
    width: 300px;
    display: grid;
    justify-content: center;
}
.titulo2 {
    padding: 30px 70px;
    font-size: 11px;;
}
.legenda {
    padding: 10px 0;
    display: grid;
    justify-content: center;
    font-size: 11.5px;
    color: #999999;
}
.hr {
    display: grid;
    justify-content: center;
}

#idigital {
    display: grid;
}

main {
    font-size: 12px;
}
main section  {
    display: grid;
    justify-content: center;
    align-content: center;
}
main section:nth-child(odd) {
    height: auto;
    background-color: #ffffff;
}
main section:nth-child(even) {
    height: auto;
    background-color: #ffffff;
}

/*catalogo coleções whip tamanho*/
.carousel {
	position: relative;
    height: 230px; /*tamanho do quadro da imagem*/
    perspective: 900px; /* tamanho das imagens anteriores e posteriores*/
}
.carousel .carousel-item {
    width: 200px;
}
.carousel .carousel-item img {
    max-width: 220px;
}
