@font-face {
    src: url("../fonts/ARLRDBD.ttf");
    font-family: "ARLRDBD";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000000;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
}
hr {
    width: 250px;
}

header {
    font-family: "ARLRDBD";
    font-size: 12px;
    text-align: center;
}
.logo { /* costumisação da div onde o logo se encontra*/
    margin: 0;
    padding: 0;
	width: 100%;
    height: 90px;
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: #ffffff;
}
.logo svg {
    height: 90px;
}
.nav-bar {
    display: grid;
    justify-content: center;
    align-content: flex-start;
	width: 100%;
    height: 35px;
    background-color: #ffffff  ;
}

.abs-pos {
    position: absolute;
    top: 0;
    right: 0;
}
.fix-pos {
    position: fixed;
    top: 0;
    right: 0;
}

#swip { /*primeira section - swip*/
	display: grid;
}
.titulo {
    padding: 30px 70px;
    font-size: ;
}
.legenda {
    padding: 10px 0;
    display: grid;
    justify-content: center;
    color: #999999;
}
.hr {
    display: grid;
    justify-content: center;
}

#idigital {
    display: grid;
}

main {
    font-family: "ARLRDBD";
    font-size: 12px;
}
main section  {
    display: grid;
    justify-content: center;
    align-content: center;
}
main section:nth-child(odd) {
    height: auto;
    background-color: #ffffff;
}
main section:nth-child(even) {
    height: auto;
    background-color: #ffffff;
}

/*catalogo coleções whip tamanho*/
.carousel {
	position: relative;
    height: 290px; /*tamanho do quadro da imagem*/
    perspective: 900px; /* tamanho da imagem*/
}
.carousel .carousel-item {
    width: 250px;
}
.carousel .carousel-item img {
    max-width: 250px;
}
